# ignore the dataset folder and files
data/multiface/

# ignore PyCharm files
/.idea
/__pycache__
/hubert/__pycache__
/hubert/utils/__pycache__


# ignore the following extensions
*.npy
*.pth
*.mp4
*.jpg

